.logo{
    height: 106px;
    width: 184px;

}

.acount{
    text-align: right;
}

.acount p{
    margin: 0;
}

.foto{
    text-align: center;
}

img{
    height: 250px;
    width: 80%;
    display: inline-block;
}
