*{
    margin: 0;
}

.logo{
    height: 106px;
    width: 184px;

}

.acount{
    text-align: right;
    border-left:black 1px solid;
}

.acount p{
    margin: 0;
}

.foto{
    text-align: center;
}

img{
    height: 250px;
    display: inline-block;
}

.fotolijst{
    margin-bottom: 10px;
}

.card{
margin: 0 3vw;
}
