li img{
    height: 150px;
    width: 100px;
}

table{
    margin: auto 0;
}

td{
    width: 50px;
}

.datum{
    text-align: center;
    width: 100px;
}

.datum a{
    color: black;
    font-weight: bold;
}

.vandaag{
    background-color: #aeaeae;
    border-radius: 20px;
}

.datums{
    margin-bottom: 5px;
}