{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body %}
    <div style="height: 49vh; margin-left: 20px;">
        <div style="border: solid black 1px; width: 300px">
        <h2 style="margin-left: 20px">Contactgegevens</h2>
        <ul>
            <li>Telefoonnummer: 085-3012400</li>
            <li>Adres: Rhododendronstraat 198</li>
            <li>Postcode: 2563 TA </li>
            <li>contact@trainingfactory.nl</li>
        </ul>
        </div>
    </div>
{% endblock %}