{% extends 'base.html.twig' %}
{% block title %}Gedragsregels{% endblock %}
{% block body%}
    <div style="height: 49vh; margin-left: 10px">
        <h2>Gedragsregels</h2>
        <ul><li>Samen houden we de club schoon, train daarom op sportschoenen die je alleen binnen gebruikt</li>
            <li>Omwille van hygiëne verzoeken we je een handdoek op het zit- en leungedeelte van het apparaat te leggen tijdens je training</li>
            <li>Uitsluitend in onze gezellige social corner is eten toegestaan</li>
            <li>Voorkom struikelsituaties door gewichten en dumbbells terug te leggen in de rekken</li>
            <li>Je bent natuurlijk zuinig op je spullen, berg ze daarom veilig op in de kluisjes</li>
            <li>Voor het gebruik van de zonnebank hebben wij een apart reglement.</li>
            <li>Voor het gebruik van de sauna hebben wij een apart reglement.</li>
            <li>Deelname aan trainingen en gebruikmaking van onze apparatuur gebeurt geheel op eigen verantwoordelijkheid. Fit For Free is niet aansprakelijk voor verlies, diefstal en ongevallen in en om het fitnesscentrum</li>
        </ul><p>Wanneer je bij Trainingfactory sport ga je akkoord met onze huisregels.</p>
    </div>
{% endblock %}